/* ===============================
   Responsive Styles
================================ */

/* Large screens and below */
@media (max-width: 1200px) {
  .container {
    padding: 10px 5%;
  }

  .heading-text {
    margin-top: 150px;
  }

  .heading-text h1 {
    font-size: 50px;
  }

  .about-col-1{
    display: none;
  }
  .about-col-2 {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
}

/* Medium screens (769px to 992px) */
@media (max-width: 992px) and (min-width: 769px) {
  .portfolio-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .services-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Small screens (below 768px) */
@media (max-width: 768px) {
  nav h2,
  nav h2 span {
    font-size: 28px;
  }

  .heading-text {
    font-size: 24px;
    height: auto;
    padding-top: 50px;
  }

  .heading-text h1 {
    font-size: 40px;
  }

  .sub-title {
    font-size: 28px;
  }

  .services-list {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .portfolio-list {
    grid-template-columns: 1fr;
  }

  .modal-content {
    padding: 20px;
  }

  .about-col-1 img {
    width: 100%;
    height: auto;
  }
}

/* Extra small screens (below 576px) */
@media (max-width: 576px) {
  .heading-text h1 {
    font-size: 32px;
  }

  .sub-title {
    font-size: 24px;
  }

  .tab-links {
    margin-right: 20px;
    font-size: 16px;
  }

  .portfolio-list {
    grid-template-columns: 1fr;
  }

  .btn-live {
    padding: 8px 15px;
    font-size: 14px;
  }
}

/* =========================== */
/* Medium screens (769px to 992px) */
@media (max-width: 992px) and (min-width: 769px) {
  .services-list {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
  }
}

/* Small screens (below 768px) */
@media (max-width: 768px) {
  .services-list {
    grid-template-columns: 1fr; /* 1 column */
  }
}